.tag {
  display: inline-block;
  color: var(--white);
  background: var(--magenta);
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.125rem;
}

.count {
  display: inline-block;
  text-align: center;
  background-color: var(--white);
  color: var(--magenta);
  border-radius: 999px;
  width: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
}
