.topBar {
  user-select: none;
  height: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
  background-color: var(--foreground-color);
  &.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  &.mobile {
    background-color: transparent;

    .wrapper {
      position: fixed;
      bottom: 0;
      background-color: var(--foreground-color);
      z-index: 1;
      width: 100%;
      .buttons {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          flex-direction: column;
          flex-grow: 1;
          font-size: 1.5rem;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: var(--main-width);
    gap: 2rem;
    .buttons {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      flex-grow: 1;
      span {
        --grow: 1;
        flex-grow: var(--grow);
        font-size: small;
        color: var(--background-color);
        line-height: 1.25rem;
        display: inline-block;
        &[role="button"] {
          cursor: pointer;
        }
      }
    }
    .links {
      display: inline-flex;
      justify-self: flex-end;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: 1rem;

      li {
        color: var(--background-color);
        font-size: small;
        list-style-type: none;
        > * + * {
          margin-left: 0.5rem;
        }
        a {
          color: var(--background-color);
          text-decoration: underline;
        }
      }
    }
  }
}
