.searchBtn {
  // background-color: var(--magenta);
  flex-grow: 1;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  position: relative;

  > input {
    background-color: var(--background-color2);
    border-style: none;
    color: var(--foreground-color);
    padding: 0.25rem 0.75rem;

    &:focus {
      color: var(--magenta);
      outline: none;
      border-style: none;
      border-bottom: 2px solid var(--magenta);
    }
  }

  .close {
	  position: absolute;
	  right: calc(2rem + 0.25rem);
    	  border-style: none;
	  background-color: inherit;
	  color: var(--foreground-color);
    &:focus, &:hover {
      color: var(--magenta);
      }

  }

  > label > button {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    border-style: none;
    color: var(--background-color2);
    background-color: var(--foreground-color);

    &:focus,
    &:hover {
      background-color: var(--magenta);
    }
  }
}
