.blogPost {
  --info-width: 15rem;

  display: flex;
  flex-direction: column;

  &Header {
    overflow-wrap: break-word;
    max-width: min(var(--header-width), 100%);
    margin: auto;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  &FeaturedImage {
    height: auto;
    width: 100vw;
  }

  &Body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    & > * {
      margin-top: 2rem;
    }

    &Details {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      background-color: var(--background-color2);
      padding: 0.75rem 0;

      &Info {
        width: var(--info-width);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        &Author {
          opacity: 0.8;
        }

        &Date {
          opacity: 0.6;
        }

        &Tags {
          margin-top: 0.5rem;
        }
      }

      &Separator {
        background-color: var(--magenta);
        width: 0;
        margin: 0 1rem;
        min-height: 1rem;
      }
    }

    &Content {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;

      &Text {
        font-family: var(--reading-font);
        font-size: var(--reading-size);
        max-width: var(--reading-width);
        padding: 0 1rem;

        overflow-wrap: anywhere;
      }
    }
  }
}

@media (min-width: 801px) {
  .blogPostBodyDetails {
    position: sticky;
    /* margin + contextual bar */
    top: calc(1rem + 20px);
  }
}

