@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-LightItalic.ttf")
    format("truetype");
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  src: url("/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 900;
  src: url("/fonts/Merriweather/Merriweather-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/Merriweather_Sans/static/MerriweatherSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/Merriweather_Sans/static/MerriweatherSans-Italic.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/Merriweather_Sans/static/MerriweatherSans-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/Merriweather_Sans/static/MerriweatherSans-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}
