.wrapper {
  padding: 0 1rem;
  .content {
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    flex-direction: column;
    line-height: 1.6em;
    max-width: 60rem;
    .about {
      .image {
        margin-bottom: 2rem;
      }

      .body {
        font-family: var(--reading-font);
        font-size: var(--reading-size);
      }
    }
    .publications {
      font-family: var(--reading-font);
      font-size: var(--reading-size);
      li {
        list-style: none;
        margin-bottom: 0.5em;
      }
    }
  }
}

@media (min-width: 801px) {
  .wrapper .content .about {
    .image {
      float: left;
      max-width: 20rem;
      margin-right: 2rem;
    }
  }
}
