:root {
  --black: #111;
  --white: #fff;
  --magenta: #e91e63;
  --magenta-light: #ffc1e3;
  --foreground-color: #111;
  --foreground-color2: #444;
  --background-color: #fff;
  --background-color2: #eee;
  --sans-font: "Merriweather Sans", Helvetica, sans-serif;
  --default-font: "Merriweather Sans", var(--sans-font);
  --serif-font: "Merriweather", Georgia, serif;
  --header-font: "Merriweather Sans", Helvetica, sans-serif;
  --reading-font: , var(--default-font);
  --reading-size: 1rem;
  --selection: var(--magenta-light);
  --main-width: 60rem;
  --header-width: 50rem;
  --reading-width: 40rem;
}

:root.dark {
  --foreground-color: #eee;
  --foreground-color2: #ddd;
  --background-color: #111;
  --background-color2: #050505;
}

::selection {
  color: var(--black);
  background-color: var(--magenta-light);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--default-font);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

p {
  line-height: 1.6em;
  margin: 0 0 1rem 0;
}

hr {
  margin: 0.75rem 0;
}

.footnotes {
  a,
  p {
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  ol > li > p {
    display: inline;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--magenta);
}

blockquote {
  border-left: 0.25rem solid var(--magenta);
  margin-left: 2rem;
  margin-right: 0;
  padding-left: 1rem;
  color: var(--foreground-color2);
}

a.anchor {
  fill: var(--foreground-color);
}

.hidden {
  display: none;
}
