.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  main {
    align-self: center;
    width: 100%;
    .header {
      width: auto;
      margin-right: auto;
      margin-left: auto;
      max-width: var(--header-width);
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
  }
}
