.postPreview {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.1rem solid var(--background-color);

  &Background {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    &Img {
      object-fit: cover;
      position: absolute !important;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &Content {
    display: grid;
    grid-template:
      "title title" 1fr "date category" auto
      "summary summary" auto / 1fr 1fr;
    justify-content: start;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    );

    &Title {
      --line-clamp: 3;
      margin-bottom: 0.5rem;
      align-self: end;
      grid-area: title;

      @supports (display: -webkit-box) {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp);
        -webkit-box-orient: vertical;
        max-height: 6rem;
        overflow: hidden;
      }
    }

    &Date {
      opacity: 0.8;
      grid-area: date;
    }

    &Category {
      border: 1px solid white;
      opacity: 0.8;
      justify-self: end;
      border-radius: 0.5rem;
      padding: 0.1rem 0.25rem;
      grid-area: category;
    }

    &Summary {
      display: none;
      margin-top: 0.5rem;
      grid-area: summary;
    }
  }

  @keyframes blackbg {
    from {
      background: rgba(0, 0, 0, 0);
    }

    to {
      background: rgba(0, 0, 0, 1);
    }
  }
  .postPreviewContent:hover,
  .link:focus .postPreviewContent {
    animation-duration: 0.5s;
    animation-name: blackbg;
    animation-fill-mode: forwards;

    & .postPreviewContentSummary {
      display: block;
    }
    & .postPreviewContentTitle {
      color: var(--magenta);
    }
  }
}
