@import "../../styles/commons.scss";

.header {
  padding: 0 2rem;
  padding-bottom: 1rem;

  a {
    color: var(--foreground-color);
    &:focus,
    &:hover {
      color: var(--foreground-color);
    }
  }

  &Content {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 0 auto;
    justify-content: flex-end;
    max-width: 60rem;
  }

  .titleWrap {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2rem;
      font-family: "Merriweather";
      font-weight: 900;
      margin-bottom: 0.4rem;
    }

    .description {
      max-width: 20rem;
      color: var(--foreground-color2);
    }
  }

  .separator {
    min-width: 1rem;
    flex-grow: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;

    &List {
      align-self: flex-end;
    }

    a {
      color: var(--foreground-color);
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        background: var(--magenta);
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:hover::after,
      &:focus::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    ul {
      display: flex;
      min-width: 50%;
      flex-shrink: 0;
      align-items: space-between;
      padding: 0;
      gap: 1rem;
      list-style: none;

      li {
        display: block;
      }
    }
  }
}
