.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.info {
  background: rgba(255, 255, 255, 0.6);
  color: var(--black);
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 4rem 0.5rem 1rem;
}
